// Specific CSS for your home-page

.flat-card {
  margin: 10px;
  background-color: $light-gray;
  color: $gray;
  height: 200px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  position: relative;
  .info {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 20%;
    padding-top: 5px;
    padding-left: 5px;
  }
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p {
      margin-right: 10px;
    }
  }


