.form-container {
  width: 50vw;
  margin-left: 25vw;
}

.btn-form {
  color: $blue;
  font-size: 16px;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 5px 10px;
  &:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}

#cancel {
  color: $red;
  border: 1px solid $red;
  &:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}
